.cocktail-image {
    width: 100%;
    height: 20rem;
    // border-radius: 8px;
  }
  .drink-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .drink-image {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 8px;
  }
  
  .description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .steps-title, .ingredients-list, .steps-list {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .ingredients-list, .steps-list {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  .steps-list li, .ingredients-list li {
    margin-bottom: 0.5rem;
  }
  