<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Short Cocktails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let drink of items">
        <ion-card class="cocktail-card">
          <ion-card-header>
            <ion-card-title>{{ drink.name }}</ion-card-title>
          </ion-card-header>
          <img  [src]="drink.image" alt="{{ drink.name }}" class="cocktail-image" />
          <ion-card-content>
            <p><strong>Characteristics:</strong> {{ drink.characteristics }}</p>
            <p>{{ drink.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
