ion-content {
    background-color: #f9f9f9;
  }
  
  .profile-banner {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #2c3e50;
  }
  
  p {
    color: #34495e;
  }
  
  .profile-info p {
    color: #2c3e50;
  }
  
  ion-button {
    border-radius: 20px;
    padding: 10px 30px;
  }
  
  ion-button:hover {
    background-color: #2980b9;
  }
  