<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="shop-banner">
    <h2 class="text-3xl font-bold text-center text-blue-600">Welcome to Our Shop!</h2>
    <p class="text-center mt-2">We're currently building our online store. Stay tuned for exciting products!</p>
    <p class="text-center mt-4 text-lg font-semibold">If you're interested in being part of our store or have any questions, feel free to contact us.</p>
    
    <div class="text-center mt-6">
      <ion-button color="primary" [routerLink]="['/contacts']">Contact Us</ion-button>
    </div>
    
    <div class="mt-8 text-center">
      <p class="text-gray-600">We appreciate your interest in our store!</p>
    </div>
  </div>
</ion-content>
