// .image1{
//   background-image:linear-gradient(red,orange);
//   max-height: 40rem;
// }
.image2{
  background-image:linear-gradient(rgb(0, 0, 0));
  min-height: 40rem;
}
.image3{
  background-image:linear-gradient(rgb(12, 12, 52),rgb(54, 1, 54));
  height: 40rem;
}


.footer1{
  background-color: black;
  // height: 10rem;
}
