.image1{
  background-image:linear-gradient(red,orange);
  height: 40rem;
}
.image2{
  background-image:linear-gradient(white,black);
  height: 40rem;
}
.image3{
  background-image:linear-gradient(rgb(115, 115, 252),purple);
  height: 40rem;
}
.footer1{
  background-image:linear-gradient(rgb(15, 000, 252),rgb(30, 1, 30));
  height: 20rem;
}