<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- header -->
  <div class="left-6">
    <img src="" alt="Icon">
    Home
Categories
Profile
Shopping
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- the main image/video -->

<div class="image1 text-center">
  Search bar (for cocktail names or ingredients)
<span class="">xxx</span>
<span>Popular Cocktails , Cocktail Types, Categories</span>
Classics, Tropical, Mocktails, Seasonal Specials
</div>

<!-- Second part  -->

<div class="image2">

<span>yyyyyy</span>


</div> 
<!-- Third part -->

<div class="imag3">

  <span>zzzzz</span>
  
  
  </div> 

  <div class="footer1">

    <span>footer</span>
    
    
    </div> 



</ion-content>
